@media (max-width: 1200px) {
  .lan_block {
    display: none;
  }
}
@media (max-width: 993px) {
  .crypto-conversion {
    grid-template-columns: 1fr;
  }
  .header .registr_btn {
    display: none;
  }
  .conversion-calc {
    max-width: 100%;
  }
  .conditions-conversion button {
    margin: 30px 0 40px 0;
  }
  .link-block,
  .chart-block,
  .popular-text4 {
    display: none;
  }
  .container {
    width: 80%;
  }
  .login_btn {
    background: var(--blue);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: #ffff;
    padding: 10px 20px;
  }
  .reliability_position {
    top: 650px;
  }
  .dollar_img::before {
    top: 420px;
  }
  #faq .questions__all {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .news {
    padding-bottom: 20px;
  }
  .footer_categoris {
    grid-template-columns: 1.6fr 1fr;
    margin-left: 40px;
  }
  .footer_box2 {
    border: none;
  }
}
@media (max-width: 860px) {
  #faq .questions__faq p {
    width: 73%;
  }
  .footer_block {
    grid-template-columns: 1fr;
  }
  .footer_categoris {
    margin: 40px 0 0 0;
  }
  .categories_box3 {
    margin-top: 40px;
    width: 100%;
  }
}
