@media (max-width: 1200px) {
  .lan_block {
    display: none;
  }
}
@media (max-width: 993px) {
  .crypto-conversion {
    grid-template-columns: 1fr;
  }
  .header .registr_btn {
    display: none;
  }
  .conversion-calc {
    max-width: 100%;
  }
  .conditions-conversion button {
    margin: 30px 0 40px 0;
  }
  .link-block,
  .chart-block,
  .popular-text4 {
    display: none;
  }
  .container {
    width: 80%;
  }
  .login_btn {
    background: var(--blue);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: #ffff;
    padding: 10px 20px;
  }
  .reliability_position {
    top: 650px;
  }
  .dollar_img::before {
    top: 420px;
  }
  #faq .questions__all {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .news {
    padding-bottom: 20px;
  }
  .footer_categoris {
    grid-template-columns: 1.6fr 1fr;
    margin-left: 40px;
  }
  .footer_box2 {
    border: none;
  }
  #faq .questions__faq p {
    width: 33%;
  }
  .social_network_block {
    margin: 40px 0 0 0;
    justify-content: space-between;
  }
  .burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    gap: 7px;
    margin-right: 20px;
    cursor: pointer;
  }
  .burger div {
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background: #141416;
  }
  .page-burger {
    text-align: start;
    padding: 0;
    height: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .page-burger:hover::before {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s;
  }
  .page-burger::before {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background: var(--red);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
  }
}
@media (max-width: 860px) {
  .footer_block {
    grid-template-columns: 1fr;
  }
  #faq .questions__faq p {
    width: 73%;
  }
  .footer_categoris {
    margin: 40px 0 0 0;
  }
  .categories_box3 {
    margin: 40px 0 100px 0;
  }
}
