.header {
  height: 80px;
  border-bottom: 1px solid #b9b9b9;
}
.nav_page {
  font-size: 16px;
  font-weight: 500;
  color: #131313;
  position: relative;
}
.nav_page.active::before {
  content: "";
  position: absolute;
  background: var(--blue);
  height: 3px;
  left: 0;
  width: 100%;
  bottom: -10px;
  transition: 0.3s;
}
.nav_page::after {
  content: "";
  position: absolute;
  background: var(--blue);
  height: 3px;
  left: 0;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav_page:hover:after {
  width: 100%;
}
.link-block {
  margin-left: 70px;
  gap: 50px;
}
.language_block {
  width: 110px;
  height: 45px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.language_registr_block {
  gap: 20px;
}
.login_btn {
  color: #131313;
  background: none;
}
.header .registr_btn {
  background: var(--blue);
  border-radius: 10px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

/* CryptoConversion */
.crypto-conversion {
  width: 100%;
  min-height: 540px;
  border-radius: 40px;
  background-image: url("../../assets/img/fon1.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0 0 0;
}
.conditions-conversion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.conditions-conversion h1 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
}
.conditions-conversion p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  color: #ffffff;
}
.conditions-conversion button {
  padding: 10px 20px;
  color: #000000;
  border-radius: 10px;
  max-width: 160px;
}
.for-sale-text {
  position: relative;
}
.bitokkg-position {
  position: absolute;
  top: 35px;
  left: 270px;
  width: 128px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(195, 214, 255, 0.3);
  backdrop-filter: blur(2px);
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
}
.conversion-calc {
  max-width: 448px;
  height: 100%;
  border-radius: 18px;
  margin-left: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.sel-buy-party {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #b0ddf3, #fbc2fc);
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
.sel-buy-party img {
  margin-left: 16px;
}
.sel-buy-party h2,
.sel-buy-party span {
  font-size: 14px;
  font-weight: 400;
  color: #131313;
}
.sel-buy-party h2 {
  font-weight: 600;
}
.conversion-calc-really {
  padding: 0 20px 20px 20px;
}
.crypto_course {
  max-width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.getting-block {
  display: flex;
}
.conversion-buy-active {
  width: 100%;
  height: 45px;
  background: #f5f7fa;
  border-radius: 8px;
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0 20px 0;
}
.conversion-buy-active .active {
  background-color: #1856cd1a;
  opacity: 0.8;
  color: #3b75f3 !important;
  font-weight: 500;
  border: 2px solid #3b75f3;
}
.conversion-buy-active div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
}
.give-it-away-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.give-it-away-block label {
  font-size: 16px;
  font-weight: 500;
  color: #131313;
}
.input_box {
  width: 100%;
  height: 90px;
  background: #f5f7fa;
  padding: 10px;
  border-radius: 14px;
  margin-top: 5px;
  gap: 20px;
  position: relative;
}
.input_box input {
  width: 60%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 22px;
  font-weight: 600;
}
.input_box input::placeholder {
  font-size: 22px;
  font-weight: 600;
  color: #b9b9b9;
}
.buy-btn {
  width: 90%;
  background: var(--blue);
  border-radius: 8px;
  margin: 0 auto;
}
.buy-btn:hover {
  opacity: 0.8;
}
.crypto-select {
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  padding: 12px;
  text-align: center;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.crypto-select p {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
}
.crypto-select img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.calc-currency-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 1;
}
.bitkoint {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
.bitkoint img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.selected-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
/* PopularCrypto */
.popular-crypto-currencies {
  margin: 200px 0 0 0;
}
.popular-crypto-currencies h2 {
  font-size: 40px;
  font-weight: 600;
  color: #131313;
  text-align: center;
}
.popular-crypto-header {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
.popular-crypto-header p {
  font-size: 18px;
  font-weight: 400;
  color: #131313;
}
.popular-weight p {
  font-weight: 600;
}
.logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-block img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chart-block {
  margin-top: -30px;
  height: 80px;
  margin-left: -22px;
}
.start-trading-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px auto;
}

/* OurTeam */
.grid-mob {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}
.our-team {
  width: 100%;
  margin-top: 270px;
}
.our-team-btn {
  display: none;
}
.our-team-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}
.our-team-block h2 {
  font-size: 32px;
  color: #131313;
  font-weight: 600;
  line-height: 1.2;
}
.our-team-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.our-team-box p {
  font-size: 16px;
  font-weight: 400;
  color: #8c8c8c;
  text-align: end;
}
.our-team-block button {
  gap: 10px;
}
.our-team-the-information-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px 0 0 0;
}
.our-team-the-information-box {
  min-height: 440px;
  background: #f5f7fa;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-team-the-information-box p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  color: #131313;
}
.information-back-img {
  width: 200px;
  height: 180px;
  margin: 0 auto;
  position: relative;
}
.information-box-img1::before,
.information-box-img2::before,
.information-box-img3::before {
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.information-box-img1::before {
  background-image: url("../img/star.svg") !important;
}
.information-box-img2::before {
  background-image: url("../img/star2.svg") !important;
}
.information-box-img3::before {
  background-image: url("../img/protectionImg.svg") !important;
}

/* News */
.news {
  width: 100%;
  min-height: 1305px;
  border-radius: 40px;
  background-image: url("../img/fonNewsImg.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin: 200px 0 0 0;
}
.news_block_all {
  width: 100%;
  position: relative;
}
.bitcoin_img {
  width: 230px;
  height: 270px;
  position: relative;
  position: absolute;
  top: 70px;
}
.bitcoin_img::before {
  background-image: url("../img/img22.svg");
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  content: "";
  position: absolute;
  top: -72px;
  left: -82px;
  width: 100%;
  height: 100%;
}
.dollar_img {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 250px;
  right: 0;
}
.dollar_img::before {
  background-image: url("../img/dollarImg.svg");
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 100%;
  height: 100%;
}
.news h1 {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding-top: 130px;
  line-height: 1.2;
  text-transform: uppercase;
}
.blur-text {
  font-size: 60px;
  color: #b0c9ff;
}
.reliability_position,
.license_position {
  width: 154px;
  height: 40px;
  background: rgba(195, 214, 255, 0.3);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 398px;
  left: 180px;
  right: 0;
  border-radius: 50px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.license_position {
  top: 123px !important;
  left: 800px !important;
}
.news_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.news_box {
  height: 386px;
  padding: 20px;
  border-radius: 24px;
  background: #fff;
}
.news_title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 160px 0 35px 0;
}
.news_name_body h4 {
  font-size: 18px;
  font-weight: 600;
  color: #0f0f0f;
  margin-top: 10px;
  min-height: 45px;
}
.news_name_body p {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  bottom: 0px;
  line-height: 1.2;
  margin-top: 10px;
}
.news_box_img {
  width: 100%;
  height: 220px;
  border-radius: 14px;
  overflow: hidden;
}
.news_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news_btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px auto;
}
.news_btn:hover {
  background: #3b75f3;
  border: none;
}

/* Faq */
#faq {
  width: 100%;
}
#faq .questions__all {
  display: grid;
  grid-template-columns: 1.1fr 1.9fr;
  gap: 100px;
  margin: 200px 0 200px 0;
  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}
#faq .questions__faq h1 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 16px 0;
  line-height: 43px;
}
#faq .questions__faq {
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 860px) {
    max-width: 380px;
  }
}
#faq .questions__faq .questions__faqes {
  display: flex;
  align-items: center;
}
#faq .questions__faq p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 80%;
}
#faq .btn {
  gap: 10px;
  margin-top: 30px;
  max-width: 200px;
}
.btn-bottom {
  display: none;
}
#faq .btn:hover {
  transition: 0.2s;
}
#faq .clients__questions {
  border-radius: 20px;
}
#faq .question::before {
  background-image: url("../img/question.svg");
  content: "";
  z-index: 9999;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 230px;
  top: 65px;
  background-size: 100%;
}
.wrapper {
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 14px;
  transition: max-height 0.5s ease;
  background: #f5f5f5;
}

.wrapper.active {
  background: #1856cd1a;
}
.question-container {
  width: 100%;
  height: 70px;
  text-align: left;
  padding: 0 20px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.question-content {
  color: #0f0f0f !important;
  width: 95%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
}
.arrow-cards {
  background: #d9d9d9;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  justify-content: center;
}
.arrow {
  font-size: 25px;
  font-weight: 200;
  transition: transform 0.3s ease;
  color: #141416 !important;
}
.arrow.active {
  transform: rotate(-180deg);
}
.answer-container {
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.answer-content {
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  color: #686868;
}
/* Footer */
.footer {
  width: 100%;
  min-height: 390px;
  background: #131313;
}
.footer_block_all {
  border-bottom: 1px solid #686868;
}
.footer_block {
  display: grid;
  grid-template-columns: 1.32fr 2fr;
}
.footer_box1 {
  height: 100%;
}
.footer_box2 {
  border-left: 1px solid #686868;
}
.logo_footer_img {
  width: 180px;
  height: 45px;
  position: relative;
  margin: 40px 0 18px 0;
}
.logo_footer_img::before {
  background-image: url("../img/logoFooter.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.footer_box1 p {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
  line-height: 1.1;
  margin: 0 0 26px 0;
}
.footer_box1 a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  text-decoration: underline;
}
.social_network_block {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 18px 0 20px 0;
}
.i_icon {
  font-size: 20px;
  color: #3b75f3;
}
.footer_categoris {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  margin: 70px 0 0 120px;
}
.footer_categoris_box {
  display: flex;
  flex-direction: column;
}
.footer_categoris_box p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.footer_categoris_box span {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
  margin: 0 0 14px 0;
}
.footer_bottom {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.texting1 {
  font-size: 12px;
  font-weight: 400;
  color: #686868;
}
.texting2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.texting2 a {
  color: #fff;
  text-decoration: underline;
}
.burger {
  display: none;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1111;
}
.menu_not {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(124, 122, 122, 0.2);
  backdrop-filter: blur(10px);
  animation: focus 0.4s ease;
}
@keyframes focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: #ffffff;
  padding: 20px 20px;
  z-index: 999;
  animation: menuModal 0.5s ease;
}
@keyframes menuModal {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
.close {
  color: #b5b5b5;
  cursor: pointer;
}
.close:hover {
  color: #000;
}
.close-language-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.page-burger {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.page-burger:hover {
  color: var(--blue);
}
.page-burger.active {
  color: var(--blue);
  font-weight: 600;
}
.bitok_icon_burger {
  display: none;
}

/*Slider  */
/* .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  z-index: 999;
  position: relative;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin-top: 20px !important;
  @media screen and (max-width: 600px) {
    margin-top: 15px !important;
  }
}
.swiper-pagination-bullet-active {
  width: 50px !important;
  height: 8px !important;
  border-radius: 8px !important;
  transition: all 0.3s ease-in-out !important;
}
.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 38%) !important;
  transition: 0.1s ease !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: white !important;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: black !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background: #00000066 !important;
  color: var(--white) !important;
  border-radius: 50%;
  transition: all 0.5s ease-in-out !important;
  padding: 10px;
  position: absolute !important;
  bottom: 120px !important;
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}
.swiper-wrapper {
  justify-content: space-between !important;
}
.mySwiperImg {
  width: 100% !important;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.btn:hover {
  background: var(--blue) !important;
  color: var(--white) !important;
}
.popularIcon:hover {
  color: var(--white) !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 20px !important;
  font-weight: 600;
  color: #ffffff;
}
.swiper-button-next {
  right: 20px !important;
}
.swiper-button-prev {
  left: 20px !important;
} */

.apexcharts-inner line {
  position: relative;
  display: none !important;
}
.advantages img {
  display: block;
  height: 40px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  width: auto;
  padding: 5px;
}
.slider-auto-play {
  background: var(--blue);
  margin: 100px 0 0 0;
  padding: 10px 30px;
}

.advantages .slick-dots {
  display: none !important;
}
.page-not-found {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: red;
}
.loading-block {
  height: 300px;
  justify-content: center;
}
.loading-crypto {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
