.select {
  position: absolute;
  top: 80px;
  left: -250px;
  right: 0;
  width: 100%;
  width: 408px;
  height: 200px;
  padding: 7px;
  background: #fff;
  box-shadow: 5px 10px 15px #0000007a;
  overflow-x: hidden;
  overflow: auto;
  animation: selectAnimate 0.3s ease;
  z-index: 99999;
  border-bottom-left-radius: 10px;
}
@keyframes selectAnimate {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 150px;
  }
}
